#cont{
  background:linear-gradient( rgb(233, 237, 238), rgba(176,224,230));
  background-repeat: no-repeat;
  background-size: contain; 
  height: 600px;
}
 .container,.dashboard{
   display:flex;
   
 }
 .container>div{
   flex:1;
   
 }
 .dashboard>div{
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding:10px;
  font-size: 20px;
 font-family: 'Times New Roman', Times, serif;
  
 }
 .left-box{
   margin-left: -70px;
 }
 .see-more{
    cursor: pointer;
    color: blue;
    margin-left: 400px;
    text-decoration: none;
 }
 #form{
   border:1px solid black;
   border-radius: 5px;
   padding: 20px;
   width: 550px;
   
 }
 #form>div{
   margin: 10px;
   font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
 }
 #submit{
   background-color: rgb(0, 140, 255);
   border:0px;
   border-radius: 5px;
   color:white;
   padding: 5px;
 }
  td{
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
  }
  li a,li{
    text-decoration: none;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
  }
   