 
#cont{
  background:linear-gradient( rgb(117, 182, 182) , rgb(243, 245, 245));
  background-repeat: no-repeat;
  background-size: contain; 
  height: 600px;
}
 
  #result{
      text-align: center;
      font-size:20px;
  }
  ul li{
    margin-left: 60px;
    cursor: pointer;
    font-weight: 700;
  }
  li:hover{
    color: blue;
  }
  td{
    text-align: left;
  }
  