body{
    background:linear-gradient( rgba(25, 102, 112), rgba(176,224,230))
}
#cont{
    text-align: center;
    font-size:  30px;
    color:red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(38, 38, 46);
  }
  
  li {
    float: left;
  }
  
  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background:none;
    border: none;
  }
  
  li a:hover {
    background-color: rgb(17, 17, 17);
  }

  #result{
      text-align: center;
      font-size:20px;
  }
  #tran{
   padding-left: 150px;
  }
  #details{
      border: 1px;
      width: 80%;
      border-collapse: collapse;
      
  }
  #details th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
  }